body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: white;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}
button {
  border: 1px solid darkgray;
  padding: 0.5em;
}
button:hover {
  background-color: rgb(226, 226, 226);
}
button:active {
  background-color: rgb(243, 243, 243);
}

#container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.col {
  flex: 1;
  max-width: 700px;
  align-self: flex-start;
}
.sticky {
  position: sticky;
}
.right {
  top: 2.4em;
}

.page {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.page img {
  width: 100%;
}
.color-icon {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  height: 2em;
  width: 2em;
}
.page-title {
  text-align: center;
}
.print-title {
  text-align: center;
}
.unowned {
  filter: grayscale(100%) brightness(75%);
}
.owned-card {
  filter: grayscale(0);
}
.card-thumbnail {
  border-radius: 4.75% / 3.5%;
}

@media only screen and (max-width: 1100px) {
  .col {
    max-width: none;
  }
  #json-btn,
  #edit-label {
    display: none;
  }
  #container {
    display: block;
  }
  #cards {
    margin-bottom: 35%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .page {
    margin-bottom: 0;
  }
  .print-title {
    display: none;
  }
  .right {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 25%;
    width: 100%;
    top: auto;
    bottom: 0;
    background-color: white;
    border-top: 1px solid lightgray;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
  }
  .right .page-title {
    font-size: smaller;
  }
  .right .page {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    margin-left: 0;
    margin-bottom: 0.5em;
  }
  .right .page div {
    display: flex;
  }
  .right .page div img {
    width: auto;
  }
}
